---
---
@import "{{ site.theme }}";
$myWidth: 680px;

body {
  background-image: url("{{ '/background.png' | relative_url }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

container {
  width: $myWidth;
}

a {
  color: #787af0;
}

a:hover, a:focus {
  color:#7a18f5;
  font-weight: bold;
}

logo {
    max-width: 25px;
 }

page-header {
  color: #7a35b8;
  text-align: center;
  background-color: #a048f0;
}

img {
   max-width:80%;
  }

header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

h2 {
  color:#484bf0;
}

h3, h4, h5, h6 {
  color:#484bf0;
}

div.gallery {
  margin: 1px;
  float: right;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
